# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/
env/

# Streamlit cache
/.streamlit/

# DB, experiments, plots
mcp.db
experiments/
models/
mcp_sim_tool/core/quick_sweep.py
core/agent.py
*.png
*.csv

# IDE
.idea/
*.iml
